<div class="detail-header">
	<div class="detail-header-title">
		{{commition.title}}
	</div>
	<div class="detail-header-info">
		<span class="glyphicon glyphicon-eye-open" aria-hidden="true">{{commition.view}}</span>
		<span class="glyphicon glyphicon-heart" aria-hidden="true">{{commition.heart}}</span>
	</div>
</div>
<div class="detail-body">
	<div class="detail-user-info">
		<div class="profile-card">
			<div class="profile-card-img">
				<img src="http://img2.wikia.nocookie.net/__cb20130607025329/creepypasta/images/3/38/Avatar-blank.jpg" class="img-rounded img-responsive">	
			</div>
			<div class="profile-card-detail">
				<div class="profile-card-nickname">
					<a href="#">{{user.nickname}}</a>
				</div>
				<div class="profile-card-introduce">
					<span>{{inputText user.stateMessage}}</span>			
				</div>
				<div class="profile-card-buttons">
					<button class="btn btn-default">팔로잉</button><a href="">{{user.following.length}}</a>
					<button class="btn btn-default">팔로워</button><a href="">{{user.follower.length}}</a>
					<button class="btn btn-primary">팔로우</button>			
				</div>
			</div>
		</div>
	</div>
	<div class="detail-commition-info">
		<div class="detail-commition-info-label">
			<div>
				<button id="duedate" class="btn btn-default">마감일</button><span>{{endTime}}</span>	
			</div>
			<div>
				<button id="slot" class="btn btn-default">슬롯</button><span>{{commition.slot_full}}</span>	
			</div>
		</div>
		<div class="detail-commition-info-buttons">
			<button class="btn btn-danger btn-lg"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></button>
			<button class="btn btn-success btn-lg">신청하기</button>
		</div>
	</div>
	<div class="detail-commition-data">
		<div class="detail-commition-data-label">
			<div>
				<button class="btn btn-default">주의사항</button>
				<p>{{inputText commition.warning}}</p>	
			</div>
			<div>
				<button class="btn btn-default">과정</button>
				<p>{{inputText commition.process}}</p>	
			</div>
			<div>
				<button class="btn btn-default">소요시간</button>
				<p>{{inputText commition.time_spent}}</p>	
			</div>
			<div>
				<button class="btn btn-default">기타</button>
				<p>{{inputText commition.etc}}</p>	
			</div>
			<div>
				<button class="btn btn-default">계좌번호</button>
				<p>{{inputText user.account_number}}</p>
			</div>
		</div>
	</div>
	<div class="detail-commition-types detail-commition-type1">
		<div class="type-title">
			<button class="btn btn-default">타입1</button>
			{{#each commition.type_one.tag}}
			<a href="#">#{{this}}</a>
			{{/each}}
		</div>
		<div class="type-slider">
			<div class="{{isSingle commition.type_one.files_name}}">
				{{#each commition.type_one.files_name}}
					<div data-toggle="modal" data-target="#type_one{{@index}}" class="slider-image-div" style="background-image: url(http://127.0.0.1:3000/uploads/{{this}})"></div>
				{{/each}}
			</div>
		</div>
		{{#each commition.type_one.files_name}}
			<div id="type_one{{@index}}" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<img src="http://127.0.0.1:3000/uploads/{{this}}">
					</div>
				</div>
			</div>
		{{/each}}
		<div class="detail-commition-types-label">
			<div>
				<button class="btn btn-default">사이즈</button>
				<p>{{inputText commition.type_one.files_size}}</p>	
			</div>
			<div>
				<button class="btn btn-default">타입 설명</button>
				<p>{{inputText commition.type_one.type_desc}}</p>	
			</div>
			<div>
				<button class="btn btn-default">가격</button>
				<p>{{inputText commition.type_one.price}}</p>	
			</div>
		</div>
	</div>
	<div class="detail-commition-types detail-commition-type2">
		<div class="type-title">
			<button class="btn btn-default">타입2</button>
			{{#each commition.type_two.tag}}
			<a href="#">#{{this}}</a>
			{{/each}}
		</div>
		<div class="type-slider">
			<div class="{{isSingle commition.type_two.files_name}}">
				{{#each commition.type_two.files_name}}
				<div data-toggle="modal" data-target="#type_two{{@index}}" class="slider-image-div" style="background-image: url(http://127.0.0.1:3000/uploads/{{this}})"></div>
				{{/each}}
			</div>
		</div>
		{{#each commition.type_two.files_name}}
			<div id="type_two{{@index}}" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<img src="http://127.0.0.1:3000/uploads/{{this}}">
					</div>
				</div>
			</div>
		{{/each}}
		<div class="detail-commition-types-label">
			<div>
				<button class="btn btn-default">사이즈</button>
				<p>{{inputText commition.type_two.files_size}}</p>	
			</div>
			<div>
				<button class="btn btn-default">타입 설명</button>
				<p>{{inputText commition.type_two.type_desc}}</p>	
			</div>
			<div>
				<button class="btn btn-default">가격</button>
				<p>{{inputText commition.type_two.price}}</p>	
			</div>
		</div>
	</div>
	<div class="detail-commition-types detail-commition-type3">
		<div class="type-title">
			<button class="btn btn-default">타입3</button>
			{{#each commition.type_three.tag}}
			<a href="#">#{{this}}</a>
			{{/each}}
		</div>
		<div class="type-slider">
			<div class="{{isSingle commition.type_three.files_name}}">
				{{#each commition.type_three.files_name}}
				<div data-toggle="modal" data-target="#type_three{{@index}}" class="slider-image-div" style="background-image: url(http://127.0.0.1:3000/uploads/{{this}})"></div>
				{{/each}}
			</div> 
		</div>
		{{#each commition.type_three.files_name}}
			<div id="type_three{{@index}}" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<img src="http://127.0.0.1:3000/uploads/{{this}}">
					</div>
				</div>
			</div>
		{{/each}}
		<div class="detail-commition-types-label">
			<div>
				<button class="btn btn-default">사이즈</button>
				<p>{{inputText commition.type_three.files_size}}</p>	
			</div>
			<div>
				<button class="btn btn-default">타입 설명</button>
				<p>{{inputText commition.type_three.type_desc}}</p>	
			</div>
			<div>
				<button class="btn btn-default">가격</button>
				<p>{{inputText commition.type_three.price}}</p>	
			</div>
		</div>
	</div>
</div>