<div class="intro-header">
	<div class="intro-div">
		<h3>커미션을 쉽게 등록하고 검색할 수 있습니다.</h3>
		<p>
		현재 23개의 커미션이 진행중입니다. 
		</p>
	</div>
	<form role="form">  
		<div class="row">
		  <div class="col-xs-12">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="닉네임, 이메일로 검색"/>
			  	<div class="input-group-btn">
					<button type="submit" class="btn">검색</button>
			  	</div>
			</div>
		  </div>
		</div>
	</form>
	<div class="btn-group align-btn" role="group" aria-label="...">
	  <a class="btn btn-default" href="/search/new" role="button">최신순</a>
	  <a class="btn btn-default" href="/search/view" role="button">조회순</a>
	  <a class="btn btn-default" href="/search/duedate" role="button">마감순</a>
	</div>
</div>

<div class="image-card-wrapper">
	{{#each commitions}}
		<div class="image-card">
			<div class="thumbnail-image">
				{{#each this.thumbnail_files_name}}
					<div class="thumbnail-image-each" style="background-image: url(http://127.0.0.1:3000/uploads/{{this}})"></div>
				{{/each}}
			</div>
			<div class="image-detail">
				<img src="http://img2.wikia.nocookie.net/__cb20130607025329/creepypasta/images/3/38/Avatar-blank.jpg" alt="..." class="img-circle">
				{{#if this.twitterId}}
					<a href="">{{this.twitterId}}</a>
				{{else}}
					<a href="">{{this.twitterId}}</a>
				{{/if}}
				<div class="card-view-heart-info">
					<span class="glyphicon glyphicon-eye-open" aria-hidden="true">{{this.view}}</span>
					<span class="glyphicon glyphicon-heart" aria-hidden="true">{{this.heart}}</span>
				</div>
				<div class="card-tag-info">
					{{#each this.tag}}
						<a href="">#{{this}}</a>
					{{/each}}
				</div>
				<div class="card-detail-page">
					<a href="">more</a>
				</div>
			</div>
		</div>
	{{/each}}
			
	<div class="scroll">
		<a href="/scroll">next page</a>
	</div>	
</div>


