<div class="profile-card">
	<div class="profile-card-img">
		<img src="http://img2.wikia.nocookie.net/__cb20130607025329/creepypasta/images/3/38/Avatar-blank.jpg" class="img-rounded img-responsive">	
	</div>
	<div class="profile-card-detail">
		<div class="profile-card-nickname">
			<a href="#">{{data.nickname}}</a>
		</div>
		<div class="profile-card-introduce">
			<span>안녕하세요, 반갑습니다.</span>			
		</div>
		<div class="profile-card-buttons">
			<button class="btn btn-default">팔로잉</button><a href="">{{data.following.length}}</a>
			<button class="btn btn-default">팔로워</button><a href="">{{data.follower.length}}</a>
			{{#if isMine}}
				<button id="mypage_profile_button" class="btn btn-primary" >프로필 수정</button>
			{{else}}
				{{#if isFollow}}
					<button id="unfollowButton" class="btn btn-primary" >언팔로우</button>
				{{else}}
					<button id="followButton" class="btn btn-primary" >팔로우</button>
				{{/if}}
			{{/if}}
		</div>
		<div class="profile-card-info-icon">
			<a href=""><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a>
			<a href=""><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
			<a href=""><span class="glyphicon glyphicon-send" aria-hidden="true"></span></a>
		</div>
	</div>
</div>

<div class="my-order-list">
	<div class="my-order-list-header">
		<span>신청 내역</span>
	</div>
	<div class="my-order-list-body">
		<div class="my-order-list-buttons">
			<div class="btn-group" role="group" aria-label="...">
				<button type="button" id="requestAllButton" class="btn btn-default active">전체</button>
				<button type="button" id="requestReceiveButton" class="btn btn-default">신청 받은</button>
				<button type="button" id="requestSendButton" class="btn btn-default">신청 한</button>
			</div>
		</div>
		<div class="my-order-list-card-wrapper">
			<div id="request-data-container"></div>
			<div id="pagination-container">
				{{!-- {{#pagination requestAllArrayLength}}
				<nav>
					<ul class="pagination">
						{{#unless noArrow}}
							<li class="previousPage">
								<a href="#" aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
								</a>
							</li>
						{{/unless}}
						{{#each pages}}
							<li class="pageNumber"><a id="num{{page}}">{{page}}</a></li>
						{{/each}}
						{{#unless noArrow}}
							<li class="nextPage">
								<a href="#" aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
								</a>
							</li>
						{{/unless}}
					</ul>
				</nav>
				{{/pagination}} --}}
			</div>
		</div>
	</div>
</div>

<div class="my-commition-list">
	<div class="my-commition-list-header">
		<span>커미션 히스토리</span>
	</div>
	<div class="my-commition-list-body">
		<div class="my-commition-list-buttons">
			<div class="btn-group" role="group" aria-label="...">
				<button type="button" class="btn btn-default">전체</button>
				<button type="button" class="btn btn-default">내 커미션</button>
				<button type="button" class="btn btn-default">관심 커미션</button>
			</div>
		</div>
		<div class="my-commition-list-card-wrapper">
			<p>지금까지 3개의 커미션을 등록하셨습니다.</p>
			<div class="image-card">
				<div class="thumbnail-image">
					<div class="thumbnail-image-each" style="background-image: url(http://demosthenes.info/assets/images/austin-fireworks.jpg)"></div>
					<div class="thumbnail-image-each" style="background-image: url(http://demosthenes.info/assets/images/taj-mahal.jpg)"></div>
					<div class="thumbnail-image-each" style="background-image: url(http://demosthenes.info/assets/images/ibiza.jpg)"></div>
				</div>
				<div class="image-detail">
					<img src="http://img2.wikia.nocookie.net/__cb20130607025329/creepypasta/images/3/38/Avatar-blank.jpg" alt="..." class="img-circle">
					<a href="">누코</a>
					<div class="card-view-heart-info">
						<span class="glyphicon glyphicon-eye-open" aria-hidden="true">123</span>
						<span class="glyphicon glyphicon-heart" aria-hidden="true">23</span>
					</div>
					<div class="card-tag-info">
						<a href="">#태그</a>
						<a href="">#태그</a>
						<a href="">#태그</a>
						<a href="">#태그</a>
						<a href="">#태그</a>
						<a href="">#태그</a>
						<a href="">#태그</a>
						<a href="">#태그</a>
					</div>
					<div class="card-detail-page">
						<a href="">more</a>
					</div>
				</div>
			</div>
			<div class="image-card">
				<div class="thumbnail-image">
					<div class="thumbnail-image-each" style="background-image: url(http://demosthenes.info/assets/images/austin-fireworks.jpg)"></div>
					<div class="thumbnail-image-each" style="background-image: url(http://demosthenes.info/assets/images/taj-mahal.jpg)"></div>
					<div class="thumbnail-image-each" style="background-image: url(http://demosthenes.info/assets/images/ibiza.jpg)"></div>
				</div>
				<div class="image-detail">
					<img src="http://img2.wikia.nocookie.net/__cb20130607025329/creepypasta/images/3/38/Avatar-blank.jpg" alt="..." class="img-circle">
					<a href="">누코</a>
					<div class="card-view-heart-info">
						<span class="glyphicon glyphicon-eye-open" aria-hidden="true">123</span>
						<span class="glyphicon glyphicon-heart" aria-hidden="true">23</span>
					</div>
					<div class="card-tag-info">
						<a href="">#태그</a>
						<a href="">#태그</a>
						<a href="">#태그</a>
						<a href="">#태그</a>
						<a href="">#태그</a>
						<a href="">#태그</a>
						<a href="">#태그</a>
						<a href="">#태그</a>
					</div>
					<div class="card-detail-page">
						<a href="">more</a>
					</div>
				</div>
			</div>
			<div class="image-card">
				<div class="thumbnail-image">
					<div class="thumbnail-image-each" style="background-image: url(http://demosthenes.info/assets/images/austin-fireworks.jpg)"></div>
					<div class="thumbnail-image-each" style="background-image: url(http://demosthenes.info/assets/images/taj-mahal.jpg)"></div>
					<div class="thumbnail-image-each" style="background-image: url(http://demosthenes.info/assets/images/ibiza.jpg)"></div>
				</div>
				<div class="image-detail">
					<img src="http://img2.wikia.nocookie.net/__cb20130607025329/creepypasta/images/3/38/Avatar-blank.jpg" alt="..." class="img-circle">
					<a href="">누코</a>
					<div class="card-view-heart-info">
						<span class="glyphicon glyphicon-eye-open" aria-hidden="true">123</span>
						<span class="glyphicon glyphicon-heart" aria-hidden="true">23</span>
					</div>
					<div class="card-tag-info">
						<a href="">#태그</a>
						<a href="">#태그</a>
						<a href="">#태그</a>
						<a href="">#태그</a>
						<a href="">#태그</a>
						<a href="">#태그</a>
						<a href="">#태그</a>
						<a href="">#태그</a>
					</div>
					<div class="card-detail-page">
						<a href="">more</a>
					</div>
				</div>
			</div>
			<nav>
				<ul class="pagination">
					<li>
						<a href="#" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
					<li class="active"><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li>
						<a href="#" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		var socket = io.connect('http://127.0.0.1:8080');

		$('#mypage_profile_button').click(function(){
			alert("프로필 수정");
		});

		$('#followButton').click(function(){
			socket.emit('followPlus', { creatorId: "{{data._id}}", userId : "{{loginUser._id}}"});
			location.reload();
		});

		$('#unfollowButton').click(function(){
			socket.emit('followMinus', { creatorId: "{{data._id}}", userId : "{{loginUser._id}}"});
			location.reload();
		});

		//get request

		$('#requestAllButton').click(function(e){
			$('.my-order-list-buttons button').removeClass('active');
			$(e.target).addClass('active');

			currentPage = 1;
			requestType = 'all';

			socket.emit('getRequestData', { nickname: "{{data.nickname}}", type : "requestAllButton" , pageNum : 1});

			paginationContext({{requestAllArrayLength}});
		});

		$('#requestReceiveButton').click(function(e){
			$('.my-order-list-buttons button').removeClass('active');
			$(e.target).addClass('active');

			currentPage = 1;
			requestType = 'receive';

			socket.emit('getRequestData', { nickname: "{{data.nickname}}", type : "requestReceiveButton" , pageNum : 1});

			paginationContext({{requestReceiveArrayLength}});

		});

		$('#requestSendButton').click(function(e){
			$('.my-order-list-buttons button').removeClass('active');
			$(e.target).addClass('active');

			currentPage = 1;
			requestType = 'send';

			socket.emit('getRequestData', { nickname: "{{data.nickname}}", type : "requestSendButton" , pageNum : 1});

			paginationContext({{requestSendArrayLength}});

		});
	
		$(document).on('click', '.pagination li.previousPage', function(e){
			var pageCal = Math.ceil(currentPage/5 -1);
			currentPage = pageCal === lastPage ? lastPage : (pageCal+1)*5+1;
		});

		$(document).on('click', '.pagination li.nextPage', function(e){
			var pageCal = Math.ceil(currentPage/5 -1);
			currentPage = pageCal === lastPage ? lastPage : (pageCal+1)*5+1;
		});

		function pageContentRefresh(currentPage){
				$('.pagination li.previousPage').show();
				$('.pagination li.nextPage').show();

				if(currentPage == 1){
					$('.pagination li.previousPage').hide();
				}

				if(currentPage == lastPage){
					$('.pagination li.nextPage').hide();
				}
		};

		$(document).on('click','li.pageNumber a',function(e){
			currentPage = e.target.id.substr(3);
			$('li.pageNumber').removeClass('active');
			$('li.pageNumber:eq('+(currentPage-1)+')').addClass('active');

			var requestAlign = $('.my-order-list-buttons button.active').attr('id');
			var pageNum = $(e.target).text();
			socket.emit('getRequestData', { nickname: "{{data.nickname}}", type : requestAlign , pageNum : pageNum});
		});

		socket.on('getRequestData', function (data) {
			console.log(data);
			var myString = "";
			var dataLength = data.requestArray.length-1;
			for(var i = 0 ; i < dataLength ; i++){
				var element = data.requestArray[i];
				myString += '<div class="my-order-list-card send-card card-num'+i+'">\
						<div class="my-order-list-title">\
							<a href="#"><h3>'+element.ref_commition.title+'</h3></a>\
							<span>'+data.requestArray[dataLength][i]+'</span>\
							<span class="glyphicon glyphicon-arrow-right send-arrow" aria-hidden="true"></span>\
						</div>\
						<div class="my-order-list-nickname">\
							<img src="http://img2.wikia.nocookie.net/__cb20130607025329/creepypasta/images/3/38/Avatar-blank.jpg" alt="..." class="img-circle">\
							<a href="/user/mypage/'+element.to.nickname+'">'+element.to.nickname+'</a>\
							<div>'+element.request_desc+'</div>\
						</div>\
						<p><span class="order-desc-more"><a href="#">more</a></span></p>\
					</div>'
			}
			$( "#request-data-container" ).html(myString);
		});

		function paginationContext(length){
			var totalPage = Math.ceil(length / 5);
			var myString = "";
			myString += '<nav><ul class="pagination">';
			if(totalPage > 5){
				myString += '<li class="previousPage">\
					<a href="#" aria-label="Previous">\
					<span aria-hidden="true">&laquo;</span>\
					</a>\
					</li>';
			}
			myString += '<li class="pageNumber active"><a id="num1">1</a></li>'		
			for (var i = 2; i <= totalPage; i++){
				myString += '<li class="pageNumber"><a id="num'+i+'">'+i+'</a></li>'
			}

			if(totalPage > 5){
				myString += '<li class="nextPage">\
					<a href="#" aria-label="Next">\
					<span aria-hidden="true">&raquo;</span>\
					</a>\
				</li>'
			}
			myString += '</ul></nav>'
			$( "#pagination-container" ).html(myString);
		};

		function init(){
			var currentPage = 1;
			var requestType = 'all';
			paginationContext({{requestAllArrayLength}})
			var lastPage = $('li.pageNumber a').last().attr('id').substr(3);
			socket.emit('getRequestData', { nickname: "{{data.nickname}}", type : 'requestAllButton' , pageNum : 1});
		};

		init();
	});
</script>