<div class="container">
<div class="profile-card">
	<div class="profile-card-img">
		<img src="http://img2.wikia.nocookie.net/__cb20130607025329/creepypasta/images/3/38/Avatar-blank.jpg" class="img-rounded img-responsive">	
	</div>
	<div class="profile-card-detail">
		<div class="profile-card-nickname">
			<a href="#">{{data.nickname}}</a>
		</div>
		<div class="profile-card-introduce">
			<span>안녕하세요, 반갑습니다.</span>			
		</div>
		<div class="profile-card-buttons">
			<button class="btn btn-default">팔로잉</button><a href="">{{data.following.length}}</a>
			<button class="btn btn-default">팔로워</button><a href="">{{data.follower.length}}</a>
			{{#if isMine}}
				<button id="mypage_profile_button" class="btn btn-primary" >프로필 수정</button>
			{{else}}
				{{#if isFollow}}
					<button id="unfollowButton" class="btn btn-primary" >언팔로우</button>
				{{else}}
					<button id="followButton" class="btn btn-primary" >팔로우</button>
				{{/if}}
			{{/if}}
		</div>
		<div class="profile-card-info-icon">
			<a href=""><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a>
			<a href=""><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
			<a href=""><span class="glyphicon glyphicon-send" aria-hidden="true"></span></a>
		</div>
	</div>
</div>

<div class="my-order-list">
	<div class="my-order-list-header">
		<span>신청 내역</span>
	</div>
	<div class="my-order-list-body">
		<div class="my-order-list-buttons">
			<div class="btn-group" role="group" aria-label="...">
				<button type="button" id="requestAllButton" class="btn btn-default active">전체</button>
				<button type="button" id="requestReceiveButton" class="btn btn-default">신청 받은</button>
				<button type="button" id="requestSendButton" class="btn btn-default">신청 한</button>
			</div>
		</div>
		<div class="my-order-list-card-wrapper">
			<div id="request-data-container"></div>
			<div id="request-pagination-container"></div>
		</div>
	</div>
</div>

<div class="my-commition-list">
	<div class="my-commition-list-header">
		<span>커미션 히스토리</span>
	</div>
	<div class="my-commition-list-body">
		<div class="my-commition-list-buttons">
			<div class="btn-group" role="group" aria-label="...">
				<button type="button" id="commitionAllButton" class="btn btn-default">전체</button>
				<button type="button" id="commitionMineButton" class="btn btn-default">내 커미션</button>
				<button type="button" id="commitionHeartedButton" class="btn btn-default">관심 커미션</button>
			</div>
		</div>
		<div class="my-commition-list-card-wrapper">
			<p>지금까지 3개의 커미션을 등록하셨습니다.</p>
			<div id="commition-data-container"></div>
			<div id="commition-pagination-container"></div>
		</div>
	</div>
</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		var socket = io.connect('http://127.0.0.1:8080');

		$('#mypage_profile_button').click(function(){
			alert("프로필 수정");
		});

		$('#followButton').click(function(){
			socket.emit('followPlus', { creatorId: "{{data._id}}", userId : "{{loginUser._id}}"});
			location.reload();
		});

		$('#unfollowButton').click(function(){
			socket.emit('followMinus', { creatorId: "{{data._id}}", userId : "{{loginUser._id}}"});
			location.reload();
		});

		//get request

		$('#requestAllButton').click(function(e){
			$('.my-order-list-buttons button').removeClass('active');
			$(e.target).addClass('active');

			currentPage = 1;
			requestType = 'all';

			socket.emit('getRequestData', { nickname: "{{data.nickname}}", type : "requestAllButton" , pageNum : 1});

			paginationContext({{requestAllArrayLength}}, 'request');
		});

		$('#requestReceiveButton').click(function(e){
			$('.my-order-list-buttons button').removeClass('active');
			$(e.target).addClass('active');

			currentPage = 1;
			requestType = 'receive';

			socket.emit('getRequestData', { nickname: "{{data.nickname}}", type : "requestReceiveButton" , pageNum : 1});

			paginationContext({{requestReceiveArrayLength}}, 'request');

		});

		$('#requestSendButton').click(function(e){
			$('.my-order-list-buttons button').removeClass('active');
			$(e.target).addClass('active');

			currentPage = 1;
			requestType = 'send';

			socket.emit('getRequestData', { nickname: "{{data.nickname}}", type : "requestSendButton" , pageNum : 1});

			paginationContext({{requestSendArrayLength}}, 'request');

		});
	
		$(document).on('click', '#request-pagination-container .pagination li.previousPage', function(e){
			currentPage = currentPage-1;
			pageNumberPreviousDisplay(currentPage, 'request-pagination-container');
		});

		$(document).on('click', '#request-pagination-container .pagination li.nextPage', function(e){
			currentPage = currentPage+1;
			pageNumberNextDisplay(currentPage, 'request-pagination-container');
		});

		function pageNumberNextDisplay(num, id){
			if( num % 5 === 1){
				$('#'+id+' li.pageNumber').hide();
				$('#'+id+' li.pageNumber:eq('+(num-1)+')').show();
				$('#'+id+' li.pageNumber:eq('+(num)+')').show();
				$('#'+id+' li.pageNumber:eq('+(num+1)+')').show();
				$('#'+id+' li.pageNumber:eq('+(num+2)+')').show();
				$('#'+id+' li.pageNumber:eq('+(num+3)+')').show();
			}
		};

		function pageNumberPreviousDisplay(num, id){
			if( num % 5 === 0){
				$('#'+id+' li.pageNumber').hide();
				$('#'+id+' li.pageNumber:eq('+(num-1)+')').show();
				$('#'+id+' li.pageNumber:eq('+(num-2)+')').show();
				$('#'+id+' li.pageNumber:eq('+(num-3)+')').show();
				$('#'+id+' li.pageNumber:eq('+(num-4)+')').show();
				$('#'+id+' li.pageNumber:eq('+(num-5)+')').show();
			}
		};

		function pageContentRefresh(num, id){
			var lastPage;
			if (id === 'request-pagination-container'){
				lastPage = requestLastPage;

			}else{
				lastPage = commitionLastPage;
			}

			$('#'+id+' .pagination li.previousPage').show();
			$('#'+id+' .pagination li.nextPage').show();

			if(num == 1){
				$('#'+id+' .pagination li.previousPage').hide();
			}

			if(num == lastPage){
				$('#'+id+' .pagination li.nextPage').hide();
			}
		};

		$(document).on('click','#request-pagination-container li.pageNumber a',function(e){
			currentPage = e.target.id.substr(3);
			$('#request-pagination-container li.pageNumber').removeClass('active');
			$('#request-pagination-container li.pageNumber:eq('+(currentPage-1)+')').addClass('active');

			var requestAlign = $('.my-order-list-buttons button.active').attr('id');
			var pageNum = $(e.target).text();
			pageContentRefresh(pageNum, 'request-pagination-container');
			socket.emit('getRequestData', { nickname: "{{data.nickname}}", type : requestAlign , pageNum : pageNum});
		});

		socket.on('getRequestData', function (data) {
			console.log(data);
			var myString = "";
			var dataLength = data.requestArray.length-1;
			for(var i = 0 ; i < dataLength ; i++){
				var element = data.requestArray[i];
				myString += '<div class="my-order-list-card send-card card-num'+i+'">\
						<div class="my-order-list-title">\
							<a href="#"><h3>'+element.ref_commition.title+'</h3></a>\
							<span>'+data.requestArray[dataLength][i]+'</span>\
							<span class="glyphicon glyphicon-arrow-right send-arrow" aria-hidden="true"></span>\
						</div>\
						<div class="my-order-list-nickname">\
							<img src="http://img2.wikia.nocookie.net/__cb20130607025329/creepypasta/images/3/38/Avatar-blank.jpg" alt="..." class="img-circle">\
							<a href="/user/mypage/'+element.to.nickname+'">'+element.to.nickname+'</a>\
							<div>'+element.request_desc+'</div>\
						<div class="order-desc-more"><a href="#">more</a></div>\
						</div>\
					</div>'
			}
			$( "#request-data-container" ).html(myString);
		});

		function paginationContext(length, type){
			var totalPage = Math.ceil(length / 5);
			var myString = "";
			myString += '<nav><ul class="pagination">';
			if(totalPage > 5){
				myString += '<li class="previousPage">\
					<a href="#" aria-label="Previous">\
					<span aria-hidden="true">&laquo;</span>\
					</a>\
					</li>';
			}
			myString += '<li class="pageNumber active"><a id="num1">1</a></li>'		
			for (var i = 2; i <= totalPage; i++){
				myString += '<li class="pageNumber"><a id="num'+i+'">'+i+'</a></li>'
			}

			if(totalPage > 5){
				myString += '<li class="nextPage">\
					<a href="#" aria-label="Next">\
					<span aria-hidden="true">&raquo;</span>\
					</a>\
				</li>'
			}
			myString += '</ul></nav>'

			if( type === 'request' ){
				$( "#request-pagination-container" ).html(myString);
			}else if (type === 'commition'){
				$( "#commition-pagination-container" ).html(myString);
			}
			
		};

		function init(){
			var currentPage = 1;
			var requestType = 'all';
			paginationContext({{requestAllArrayLength}}, 'requeset')
			var requestLastPage = $('#request-pagination-container li.pageNumber a').last().attr('id').substr(3);
			socket.emit('getRequestData', { nickname: "{{data.nickname}}", type : 'requestAllButton' , pageNum : 1});
		};

		init();

		// get commition

		$('#commitionAllButton').click(function(e){
			$('.my-commition-list-buttons button').removeClass('active');
			$(e.target).addClass('active');

			commitionCurrentPage = 1;

			socket.emit('getCommitionData', { nickname: "{{data.nickname}}", type : "commitionAllButton" , pageNum : 1});

			paginationContext({{commitionAllArrayLength}}, 'commition');
		});

		$('#commitionMineButton').click(function(e){
			$('.my-commition-list-buttons button').removeClass('active');
			$(e.target).addClass('active');

			commitionCurrentPage = 1;

			socket.emit('getCommitionData', { nickname: "{{data.nickname}}", type : "commitionMineButton" , pageNum : 1});

			paginationContext({{commitionMineArrayLength}}, 'commition');

		});

		$('#commitionHeartedButton').click(function(e){
			$('.my-commition-list-buttons button').removeClass('active');
			$(e.target).addClass('active');

			commitionCurrentPage = 1;

			socket.emit('getCommitionData', { nickname: "{{data.nickname}}", type : "commitionHeartedButton" , pageNum : 1});

			paginationContext({{commitionHeartedArrayLength}}, 'commition');

		});
	
		$(document).on('click', '#commition-pagination-container .pagination li.previousPage', function(){
			commitionCurrentPage = commitionCurrentPage-1;
			pageNumberPreviousDisplay(commitionCurrentPage, 'commition-pagination-container');
		});

		$(document).on('click', '#commition-pagination-container .pagination li.nextPage', function(){
			commitionCurrentPage = commitionCurrentPage+1;
			pageNumberNextDisplay(commitionCurrentPage, 'commition-pagination-container');
		});

		$(document).on('click','#commition-pagination-container li.pageNumber a',function(e){
			commitionCurrentPage = e.target.id.substr(3);
			$('#commition-pagination-container li.pageNumber').removeClass('active');
			$('#commition-pagination-container li.pageNumber:eq('+(commitionCurrentPage-1)+')').addClass('active');

			var commitionAlign = $('.my-commition-list-buttons button.active').attr('id');
			var pageNum = $(e.target).text();
			pageContentRefresh(pageNum, 'commition-pagination-container');
			socket.emit('getCommitionData', { nickname: "{{data.nickname}}", type : commitionAlign , pageNum : pageNum});
		});

		socket.on('getCommitionData', function (data) {
			console.log(data);
			var myString = "";
			var dataLength = data.commitionArray.length-1;
			for(var i = 0 ; i < dataLength ; i++){
				var element = data.requestArray[i];
				myString += '<div class="image-card">\
					<div class="thumbnail-image">\
						<div class="thumbnail-image-each" style="background-image: url(http://demosthenes.info/assets/images/austin-fireworks.jpg)"></div>\
						<div class="thumbnail-image-each" style="background-image: url(http://demosthenes.info/assets/images/taj-mahal.jpg)"></div>\
						<div class="thumbnail-image-each" style="background-image: url(http://demosthenes.info/assets/images/ibiza.jpg)"></div>\
					</div>\
					<div class="image-detail">\
						<img src="http://img2.wikia.nocookie.net/__cb20130607025329/creepypasta/images/3/38/Avatar-blank.jpg" alt="..." class="img-circle">\
						<a href="">'+element.user.nickname+'</a>\
						<div class="card-view-heart-info">\
							<span class="glyphicon glyphicon-eye-open" aria-hidden="true">'+element.view+'</span>\
							<span class="glyphicon glyphicon-heart" aria-hidden="true">'+element.heart+'</span>\
						</div>\
						<div class="card-tag-info">'
				element.type_one.tag.forEach(function(e, i){
					myString += '<a href="">#'+e+'</a>'
				});
				element.type_two.tag.forEach(function(e, i){
					myString += '<a href="">#'+e+'</a>'
				});
				element.type_three.tag.forEach(function(e, i){
					myString += '<a href="">#'+e+'</a>'
				});
				myString += '</div>\
							<div class="card-detail-page">\
								<a href="/commition/'+element.id+'">more</a>\
							</div>\
						</div>\
					</div>'
						
			}
			$( "#commition-data-container" ).html(myString);
		});

		function commitionInit(){
			var commitionCurrentPage = 1;
			paginationContext({{CommitionAllArrayLength}}, 'commition')
			var commitionLastPage = $('#commition-pagination-container li.pageNumber a').last().attr('id').substr(3);
			socket.emit('getCommitionData', { nickname: "{{data.nickname}}", type : 'commitionAllButton' , pageNum : 1});
		};

		commitionInit();
	});
</script>